@import "../variables";
.page__main {
	width: 100vw;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	&__inner {
		width: $InnerWidth;
		margin-left: auto;
		margin-right: auto;
		@media only screen and (max-width: $medium) {
			width: $InnerWidthSmall;
		}
	}
}
.categories-section {
	&__main {
		margin-top: 25px;
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		@media only screen and (max-width: $small) {
		}
	}

	&__item {
		background-color: aqua;
		//	width: 23vw;
		flex-direction: column;
		flex-wrap: wrap;
		height: 23vw;
		width: calc(34% - 32px);
		&__title {
			margin-top: 10px;
			text-align: center;
			font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
				sans-serif;
			font-size: 2rem;
			line-height: 1.5;
			z-index: 3;
			transition: color 0.25s;
		}
		@media only screen and (max-width: $medium) {
			height: 300px;
		}
		display: flex;
		align-items: center;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		overflow: hidden;
		box-sizing: border-box;

		&__image {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		img {
			position: absolute;
			top: 0;
			left: 0%;
			display: block;
			width: auto;
			height: 100%;
			transform: translate(0%, 20px);
			transition: transform 0.4s, opacity 0.4s;
			@media only screen and (max-width: $medium) {
				left: calc(50% - (300px / 2));
			}
		}

		&.man {
			background-color: #0066cb;
		}
		&.woman {
			background-color: #cb3398;
		}

		&.kids {
			background-color: #6633cc;
		}

		@media only screen and (max-width: $medium) {
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			margin-bottom: 20px;
		}
	}
	.categories-section__item:hover .categories-section__item__title {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
		transition: transform 0.4s, opacity 0.4s;
	}
	.categories-section__item:hover .categories-selection__item__inner__image {
		img {
			transform: translateY(-15px);
			transition: transform 0.4s, opacity 0.4s;
		}
	}
}
