@import '../variables';
.page__main {
	width: 100vw;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;

	&__inner {
		width: $InnerWidth;
		margin-left: auto;
		margin-right: auto;
		@media only screen and (max-width: $medium) {
			width: $InnerWidthSmall;
		}
	}
}
.categories-section {
	&__main {
		margin-top: 25px;
		justify-content: space-between;
		display: flex;
		flex-wrap: wrap;
		@media only screen and (max-width: $small) {
		}
	}

	&__item {
		background-color: aqua;
		width: 23vw;
		height: 23vw;

		&__title {
			margin-top: 10px;
			text-align: center;
			font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
			font-size: 2rem;
			line-height: 1.5;
		}

		img {
			margin-left: auto;
			margin-right: auto;
		}
		&.men {
			background-color: #0066cb;
		}
		&.women {
			background-color: #cb3398;
		}
		&.kids {
			background-color: #6633cc;
		}

		@media only screen and (max-width: $medium) {
			margin-left: auto;
			margin-right: auto;
			width: $InnerWidth;
			height: auto;
			margin-bottom: 50px;
		}
		@media only screen and (max-width: $small) {
			width: 80vw;
			height: 80vw;
			margin-bottom: 70px;
		}
	}
}
