@import './variables';

.auth-modal {
	border: 2px solid whitesmoke;
	position: fixed;
	width: $authsizew;
	height: fit-content;
	background-color: white;
	z-index: 30;
	border-radius: 30px;
	left: calc(50% - calc($authsizew / 2));
	top: calc(50% - calc($authsizeh / 2));

	&__header {
		width: 100%;
		display: flex;
		height: fit-content;
		justify-content: space-between;
		&__right * {
			color: black;
		}
		svg {
			width: 30px;
			margin-right: 10px;
			margin-top: 10px;
		}
	}
	&__main {
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 24px;
	}
	&__title {
		font-size: 1.25rem;
		line-height: 1.4;
		font-weight: 600;
		text-align: center;
		color: $textcolor;
	}
	&__submit {
		justify-content: center;
		min-width: 48px;
		height: 48px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		background-color: #5bc238;
		border: 0;
		border-radius: 30px;
	}
}
.input {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 48px;
	color: #303030;
	background: #fff;
	-webkit-transition: border-color 0.25s;
	transition: border-color 0.25s;
	padding: 0 12px 0 24px;
	font-size: 100%;
	line-height: 1.5;
	border: 1px solid #c7c7c7;
	border-radius: 24px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	&__email {
		color: black;
		appearance: none;
		border-radius: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		vertical-align: top;
		background: 0 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 0;
		display: inline-block;
		width: 0;
		border: 0;
	}
	&__login {
		color: black;
		appearance: none;
		border-radius: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		vertical-align: top;
		background: 0 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 0;
		display: inline-block;
		width: 0;
		border: 0;
	}
	&__password {
		color: black;
		appearance: none;
		border-radius: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		vertical-align: top;
		background: 0 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 0;
		display: inline-block;

		border: 0;
	}
}
*button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.auth-modal__toggle {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-content: center;
	&__checkbox {
		margin-left: 0;
		margin-right: 0;
	}
	&__label {
		color: #000;
		text-align: center;
	}
}
